/* index.js */
.days-wrapper {
  height: calc(100% - 56px);
  display: grid;
  grid-template-columns: 27rem 10rem 1fr;
  position: relative;
}

.timeGrids-container {
  margin-left: 1.5rem;
  height: 100%;
  display: block;
}

/* DayWrapper.js */
.day-wrapper {
  height: 98%;
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.date-label {
  position: relative;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.time-label {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 0.5%;
  width: 2.5rem;
  position: relative;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.timeslotItems-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 0.5%;
  width: 20rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@media screen and (max-width: 500px) {
  .days-wrapper {
    grid-template-columns: 1fr 10rem;
  }

  .timeGrids-container {
    max-width: 27rem;
  }
}

@media only screen and (min-width: 601px) {
  .days-wrapper {
    height: calc(100% - 64px);
  }
}
