/* index.js */
.days-wrapper {
  height: 90vh;
  width: 27rem;
}

/* DayWrapper.js */
.day-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.date-label {
  position: relative;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.time-label {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5%;
  height: 90vh;
  width: 2.5rem;
  position: relative;
  text-align: right;
  margin: 0.1rem;
  font-size: 0.8rem;
}

.timeslots-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 0.5%;
  height: 90vh;
  width: 20rem;
  position: relative;
  margin: 0;
}

/* Disable text selection */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
