.event-types-list-wrapper {
  height: 100%;
  margin: 0 0.5rem;
  overflow-y: scroll;
  overflow-x: auto;
}

h5 {
  text-align: center;
}

/* ::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
} */
