.event-types-list-wrapper {
  height: 100%;
  width: 10rem;
  overflow-y: scroll;
  overflow-x: auto;
}

h6 {
  margin: 0.4rem 1rem 0.4rem !important;
}

/* ::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
} */
