/* .rbc-date-cell.rbc-current::after {
  content: "";
  position: absolute;
  background: black; 
  z-index: -1;
  height: 100%;
  width: 14.2857%;
  margin-left: calc(-14.2857% + 8px); 
  margin-top: -8px; 
} */
