@font-face {
  font-family: "Gamepixies";
  src: url("./Gamepixies-8MO6n.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Gamepixies";
  font-size: 1.2rem;
}

#App {
  height: 100vh;
}
