@font-face {
  font-family: "Gamepixies";
  src: url("./Gamepixies-8MO6n.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Gamepixies";
  font-size: 1.2rem;
  height: 100%;
}

#App {
  height: 100vh;
  max-height: -webkit-fill-available;
}
