.event-types-list-item-wrapper {
  display: block;
}

.event-types-list-item {
  font-size: larger;
  color: white;
  display: block;
  width: auto;
  margin: 0.4rem 1rem 0.4rem;
  padding: 0.1rem 1rem 0.1rem;
}
